/*============================== GENERAL =====================================*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', "Times New Roman", Arial, sans-serif;
    line-height: 148%;
}
body {
    min-width: 1000px;
    /* min-height: 50%; */
}
body > div {
    /* min-width: 840px; */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* width: 100%;
    height: 100%; */
    overflow: auto;
}
#content h2 {
    padding-top: 16px;
    padding-bottom: 16px;
}
#content h4 {
    padding-top: 8px;
    padding-bottom: 8px;
}
#content p, li, td {
    font-size: 104%;
}
#content ul, ol {
    margin-left: 40px;
}
#content pre, code {
    font-size: 94%;
    /* white-space: pre-wrap; */
    overflow: auto;
}
#content pre {
    /* white-space: pre-wrap; */
}
#content table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#content th, td {
    padding: 8px 16px;
}
#content th {
    background-color: rgba(206, 212, 210, 0.5);
    font-size: 116%;
}
#content tr:nth-child(odd) {
    /*background-color: rgba(208, 237, 255, 0.5);*/
    /*background-color: #f2f2f2*/
    /*background-color: #CFD8DC;*/
    background-color: #E4EAED;
}
#content tr:nth-child(even) {
    background-color: white;
}
#content iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#iframe_link_div {
    text-align: center;
}
#content a:link {
    color: rgba(200, 0, 0, 1);
    /*box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 1) inset;*/
    /*background-color: rgba(223, 229, 232, 1);*/
    text-decoration-color: rgba(50, 50, 50, 1);
    text-decoration-line: underline;
}
#content a:visited {
    color: rgba(200, 0, 0, 1);
    text-decoration-color: rgba(50, 50, 50, 1);
    text-decoration-line: underline;
}

/*============================ HIGHLIGHTED WORDS =============================*/
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.definition {
    /* Purple */
    color: rgba(69, 12, 150, 1);
    /*color: rgba(94, 19, 27, 1);*/
    /*color: rgba(4, 56, 81, 1);*/
    font-weight: bold;
}
.definition_element {
    /* Pale Red*/
    color: rgba(173, 43, 61, 1);
    font-weight: bold;
}
.definition_attribute {
    /* Maroon */
    color: rgba(140, 22, 30, 1);
    font-weight: bold;
}
.definition_value {
    /* Teal */
    color: rgba(0, 129, 138, 1);
    font-weight: bold;
}
.definition_selector {
    /* Pink */
    color: rgba(213, 132, 253, 1);
    font-weight: bold;
}
.definition_javascript {
    /* Orange */
    color: rgba(241, 126, 23, 1);
    font-weight: bold;
}
.definition_swift {
    /* Dark Pink */
    color: rgba(141, 72, 168, 1);
    font-weight: bold;
}
.definition_comment {
    /* Green */
    color: rgba(0, 107, 0, 1);
}
.definition_php {
    /* Orange-Yellow */
    color: rgba(242, 157, 69, 1);
    font-weight: bold;
}
.definition_perl {
    /* Blue */
    /* color: #000180; */
    /* color: #120D92; */
    color: #1A27AA;
    font-weight: bold;
}
.center_block {
    margin-left: auto;
    margin-right: auto;
}
.center_block_list {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*================================ CONTENT ===================================*/
#content_container {
    flex-grow: 1;
    flex-shrink: 1;
}

/* Header */
#content_container > div:first-child {
    color: #FFF;
    background-color: #002132;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px dashed blue; */
}

/* The Topic Links Sidebar */
#directory_container {
    width: 10%;
    min-width: 180px;
    height: 96%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 4%;
    right: 0px;
    /* border: 1px solid purple; */
}

/* Navigation Buttons */
#navigation_buttons {
    width: 72%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid blue; */
}
#navigation_buttons div {
    width: auto;
    height: 90%;
    /* border: 1px dashed purple; */
}
#navigation_buttons div img {
    width: auto;
    height: 100%;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#directory_menu {
    visibility: hidden;
}
#directory_top_arrow {
    visibility: hidden;
}

/* Topics List */
#directory {
    height: 85%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 0px 5px 0px rgba(220, 220, 220, 1.0) inset;
    overflow: auto;
    padding: 16px;
    transform: translate(100%, 0%);
    /* border: 1px solid grey; */
}
#directory ul {
    font-size: 0.8rem;
    list-style-type: none;
}
#directory ul ul {
    font-size: 1rem;
}
#directory ul li {
    padding-top: 4px;
}
#directory a {
    color: #000;
    text-decoration: none;
    /* border: 1px dashed green; */
}
#directory a:hover {
    color: #6A0000;
}

/*=============================== SECTIONS ===================================*/
.section {
    margin-top: 24px;
    margin-bottom: 24px;
}
.section_result {
    background-color: #c9d4d4;
    padding: 16px;
}

/*================================ TABLES ====================================*/
/* For tables that have 2 columns - the following are percentages of width */
.table_3_to_7 {
    width: 100%;
}
.table_3_to_7 td:first-child {
    width: 30%;
    padding: 8px 16px;
}
.table_3_to_7 th:first-child {
    text-align: left;
    padding: 8px 16px;
}
.table_3_to_7 th[colspan="2"] {
    text-align: center;
}

.table_1_to_1 {
    width: 100%;
}
.table_1_to_1 td:first-child {
    width: 50%;
}
.table_1_to_1 td:nth-child(2) {
    width: 50%;
    padding: 8px 16px;
}

/* For small tables that should stretch to fill the width a certain amount */
.center_table_data td {
    text-align: center;
}
.table_60 {
    width: 60%;
}
.table_60_2_columns {
    width: 60%;
}
.table_60_2_columns td {
    width: 50%;
}
.table_80 {
    width: 80%;
}
.table_100 {
    width: 100%;
}

/* For tables that have 3 columns */
.table_3_columns {
    width: 100%;
}
.table_3_columns td {
    vertical-align: text-top;
}
.table_3_columns td:first-child {
    width: 20%;
}
.table_3_columns td:nth-child(2) {
    width: 40%;
}
.table_3_columns td:nth-child(3) {
    width: 40%;
}
