/*
Thuc Nguyen
Date Created: December 2017
*/

/*============================== GENERAL =====================================*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*============================== CONTENT =====================================*/
#content {
    margin-left: 16%;
    line-height: 148%;
    /* border: 2px dashed red; */
}
#content_header {
    color: #FFF;
    background-color: #002132;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#content_header > h1 {
    width: 80%;
    /* height: 80px; */
    /* position: sticky;
    top: 200px; */
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    /* border: 1px dashed green; */
    /* margin-top: 80px; */
}

#content > div:nth-child(n+3) {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px dashed orange; */
}
.section h2 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.section h4 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.section p, .section li {
    font-size: 1.0em;
}
.section pre, .section code {
    font-size: 0.9em;
}
.section ul, .section ol {
    margin-left: 40px;
}
.section a:link {
    color: rgba(200, 0, 0, 1);
    /*box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 1) inset;*/
    /*background-color: rgba(223, 229, 232, 1);*/
    text-decoration-color: rgba(50, 50, 50, 1);
    text-decoration-line: underline;
}
.section a:visited {
    color: rgba(200, 0, 0, 1);
    text-decoration-color: rgba(50, 50, 50, 1);
    text-decoration-line: underline;
}

#content iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#iframe_link_div {
    text-align: center;
}

/*=========================== NAVIGATION HEADER ==============================*/
#navigation_header {
    background-color: #002132;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}
#navigation_header h1 {
    color: #FFF;
    opacity: 0.0;
}
#toc_drop_down {
    width: 36px;
    height: 36px;
    position: absolute;
    bottom: 22px;
    right: 36px;
}
#scroll_to_top_arrow {
    width: 36px;
    height: 36px;
    position: absolute;
    bottom: 22px;
    right: 108px;
}
#scroll_to_top_arrow img, #toc_drop_down img {
    width: 100%;
    cursor: pointer;
}

/*====================== DIRECTORY (TABLE OF CONTENTS) =======================*/
#directory {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 0px;
    background-color: #DDD;
    overflow: auto;
    z-index: 10;
}
#directory > div {
    flex-basis: 50%;
}
#directory ul {
    color: #000;
    font-size: 1.0rem;
    list-style-type: none;
    padding-left: 24px;
}
#directory ul li {
    padding-top: 4px;
}
#directory a {
    font-size: 110%;
    color: #000;
    text-decoration: none;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms;
}
#directory a:hover {
    color: #00ABFF;
    cursor: pointer;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms;
}

/*============================ HIGHLIGHTED WORDS =============================*/
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.definition {
    color: rgba(69, 12, 150, 1); /* Purple */
    font-weight: bold;
}
.definition_element {
    color: rgba(173, 43, 61, 1); /* Pale Red*/
    font-weight: bold;
}
.definition_attribute {
    color: rgba(140, 22, 30, 1); /* Maroon */
    font-weight: bold;
}
.definition_value {
    color: rgba(0, 129, 138, 1); /* Teal */
    font-weight: bold;
}
.definition_selector {
    color: rgba(213, 132, 253, 1); /* Pink */
    font-weight: bold;
}
.definition_javascript {
    color: rgba(241, 126, 23, 1); /* Orange */
    font-weight: bold;
}
.definition_swift {
    color: rgba(141, 72, 168, 1); /* Dark Pink */
    font-weight: bold;
}
.definition_comment {
    color: rgba(0, 107, 0, 1); /* Green */
}
.definition_php {
    color: rgba(242, 157, 69, 1); /* Orange-Yellow */
    font-weight: bold;
}
.definition_perl {
    color: #1A27AA; /* Blue */
    font-weight: bold;
}
.definition_mysql {
    color: #C64C4D; /* Pale Pink */
    font-weight: bold;
}
.definition_java {
  color: #670000; /* Maroon */
  font-weight: bold;
}
.definition_java_note {
  color: #C8601A; /* Orange */
  font-weight: bold;
}
.definition_python {
    color: #2054BC; /* Navy Blue */
    font-weight: bold;
}
.highlight {
  color: #134A18; /* Dark Green */
  font-weight: bold;
}
.center_block {
    margin-left: auto;
    margin-right: auto;
}
.center_block_list {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*=============================== SECTIONS ===================================*/
.section {
    margin-top: 24px;
    margin-bottom: 24px;
}
.section_result {
    background-color: #c9d4d4;
    padding: 16px;
}

/*================================ FLEX TABLES ====================================*/
/* Specifically for the html table in HTML Syntax page */
#html_table_example {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}
#html_table_example th, #html_table_example td {
    padding: 8px 16px;
}
#html_table_example th {
    background-color: rgba(206, 212, 210, 0.5);
    font-size: 116%;
}
#html_table_example tr:nth-child(odd) {
    background-color: #E4EAED;
}
#html_table_example tr:nth-child(even) {
    background-color: white;
}

.flex_table_title_full {
    flex-basis: 100%;
    display: flex;
    color: #FFF;
    background-color: #4F4F4F;
    font-size: 1.2em;
    padding-top: 4px;
    padding-bottom: 4px;
    /* background-color: rgba(206, 212, 210, 0.5);
    font-size: 1.1em;
    font-weight: bold; */
}
.flex_table_title_full > div {
    flex: 1;
}
.flex_table_subtitle_full {
    flex-basis: 100%;
    color: #FFF;
    background-color: #B1B1B1;
    font-size: 1.2em;
    padding-top: 4px;
    padding-bottom: 4px;
    /* border: 1px dashed purple; */
}
.flex_table_subtitle_full > div {
    flex: 1;
}
.flex_table_caption {
    flex-basis: 100%;
    display: flex;
    /* border: 1px dashed red; */
}
.flex_table_caption > div {
    flex: 1;
    /* border: 1px dashed blue; */
}
.flex_table_subtitles {
    color: #FFF;
    background-color: #B1B1B1;
    font-size: 1.2em;
    padding-top: 4px;
    padding-bottom: 4px;
}

/*---------------------------------- 2 COLUMNS ------------------------------------*/
/* Tables with columns of width at ratio 3:7 */
.flex_table_row_3_7 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.flex_table_row_3_7 > div {
    display: flex;
    flex-direction: row;
}
.flex_table_row_3_7 > div > div:nth-of-type(1) {
    flex-basis: 30%;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 8px 16px;
}
.flex_table_row_3_7 > div > div:nth-of-type(2) {
    flex-basis: 70%;
    justify-content: flex-start;
    padding: 8px 16px;
    overflow: auto;
}

/* Tables with columns of 60% width at ratio 3:7 */
.flex_table_row_3_7_60 {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.flex_table_row_3_7_60 > div {
    display: flex;
    flex-direction: row;
}
.flex_table_row_3_7_60 > div > div:nth-of-type(1) {
    flex-basis: 30%;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 8px 16px;
}
.flex_table_row_3_7_60 > div > div:nth-of-type(2) {
    flex-basis: 70%;
    justify-content: flex-start;
    padding: 8px 16px;
    overflow: auto;
}

/* Tables with columns of width at ratio 1:1 */
.flex_table_row_1_1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.flex_table_row_1_1 > div {
    display: flex;
    flex-direction: row;
}
.flex_table_row_1_1 > div > div:nth-of-type(1) {
    flex-basis: 50%;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 8px 16px;
}
.flex_table_row_1_1 > div > div:nth-of-type(2) {
    flex-basis: 50%;
    justify-content: flex-start;
    padding: 8px 16px;
    overflow: auto;
}

/* Tables with columns of 60% width at ratio 1:1 */
.flex_table_row_1_1_60 {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.flex_table_row_1_1_60 > div {
    display: flex;
    flex-direction: row;
}
.flex_table_row_1_1_60 > div > div {
    flex: 1;
    justify-content: flex-start;
    padding: 8px 16px;
}

/*---------------------------------- 3 COLUMNS ------------------------------------*/
/* Tables with columns of width at ratio 2:4:4 */
.flex_table_row_2_4_4 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.flex_table_row_2_4_4 > div {
    display: flex;
    flex-direction: row;
}
.flex_table_row_2_4_4 > div > div:nth-of-type(1) {
    flex-basis: 20%;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 8px 16px;
}
.flex_table_row_2_4_4 > div > div:nth-of-type(2) {
    flex-basis: 40%;
    justify-content: flex-start;
    padding: 8px 16px;
    overflow: auto;
}
.flex_table_row_2_4_4 > div > div:nth-of-type(3) {
    flex-basis: 40%;
    justify-content: flex-start;
    padding: 8px 16px;
    overflow: auto;
}

/* Tables with columns of width at ratio 1:1:1 */
.flex_table_row_1_1_1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.flex_table_row_1_1_1 > div {
    display: flex;
    flex-direction: row;
}
.flex_table_row_1_1_1 > div > div {
    flex: 1;
    justify-content: flex-start;
    padding: 8px 16px;
    overflow: auto;
}
.flex_table_row_1_1_1 > div > div:nth-of-type(1) {
    flex-shrink: 0;
}

/* Tables with columns of 60% width at ratio 1:1:1 */
.flex_table_row_1_1_1_60 {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.flex_table_row_1_1_1_60 > div {
    display: flex;
    flex-direction: row;
}
.flex_table_row_1_1_1_60 > div > div {
    flex: 1;
    justify-content: flex-start;
    padding: 8px 16px;
    overflow: auto;
}
.flex_table_row_1_1_1_60 > div> div:nth-of-type(1) {
    flex-shrink: 0;
}

/* Tables with 3 columns of 60% width and no order to elements */
.flex_table_3_columns_60 {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* border: 1px dashed red; */
}
.flex_table_3_columns_60 > div {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.flex_table_3_columns_60 > div > div {
    flex: 1;
    padding: 8px 16px;
}


/*==============================================================================


                              MEDIA QUERIES


==============================================================================*/
@media screen and (max-width: 992px) {
    .section p, .section li {
        font-size: 0.9em;
    }
    .section pre, .section code {
        font-size: 0.9em;
    }
    #content_header > h1 {
        font-size: 1.4em;
        padding-left: 16px;
        padding-right: 16px;
    }
    #navigation_header {
        justify-content: flex-start;
    }
    #navigation_header h1 {
        font-size: 1.4em;
        margin-left: 16px;
    }
    #directory a {
        font-size: 100%;
    }

    .flex_table_row_1_1_60,
    .flex_table_row_3_7_60,
    .flex_table_row_1_1_1_60,
    .flex_table_3_columns_60 {
        width: 100%;
    }

    .flex_table_row_3_7 > div,
    .flex_table_row_3_7_60 > div,
    .flex_table_row_1_1 > div,
    .flex_table_row_1_1_60 > div,
    .flex_table_row_2_4_4 > div,
    .flex_table_row_1_1_1 > div,
    .flex_table_row_1_1_1_60 > div,
    .flex_table_3_columns_60 > div {
        flex-direction: column;
    }
    .flex_table_row_3_7 > div:not(.flex_table_subtitle_full):not(.flex_table_caption):not(.flex_table_title_full) > div:nth-of-type(1),
    .flex_table_row_3_7_60 > div:not(.flex_table_subtitle_full):not(.flex_table_caption):not(.flex_table_title_full) > div:nth-of-type(1),
    .flex_table_row_1_1 > div:not(.flex_table_subtitle_full):not(.flex_table_caption):not(.flex_table_title_full) > div:nth-of-type(1),
    .flex_table_row_1_1_60 > div:not(.flex_table_subtitle_full):not(.flex_table_caption):not(.flex_table_title_full) > div:nth-of-type(1),
    .flex_table_row_2_4_4 > div:not(.flex_table_subtitle_full):not(.flex_table_caption):not(.flex_table_title_full) > div:nth-of-type(1),
    .flex_table_row_1_1_1 > div:not(.flex_table_subtitle_full):not(.flex_table_caption):not(.flex_table_title_full) > div:nth-of-type(1),
    .flex_table_row_1_1_1_60 > div:not(.flex_table_subtitle_full):not(.flex_table_caption):not(.flex_table_title_full) > div:nth-of-type(1) {
        /* background-color: #E4EAED; */
        /* background-color: #C6C6C6; */
        /* color: #c9d4d4; */
        color: #445B75;
        font-weight: bold;
        border-top: 1px solid #CBCBCB;
        align-items: flex-start;
        padding: 8px 16px;
    }
    .flex_table_row_3_7 > div> div:nth-of-type(2),
    .flex_table_row_3_7_60 > div > div:nth-of-type(2),
    .flex_table_row_1_1 > div > div:nth-of-type(2),
    .flex_table_row_1_1_60 > div > div:nth-of-type(2),
    .flex_table_row_2_4_4 > div > div:nth-of-type(2), .flex_table_row_2_4_4 > div > div:nth-of-type(3) {
        align-items: flex-start;
        padding: 0px 16px 16px 16px;
    }

    .flex_table_subtitle_full > div {
        /* display: none; */
    }
    .flex_table_subtitles {
        display: none !important;
    }
}

@media screen and (max-width: 640px) {
    .section h2 {
        font-size: 1.2em;
    }
    .section p, .section li {
        font-size: 0.8em;
    }
    .section pre, .section code {
        font-size: 0.8em;
    }
    #directory a {
        font-size: 90%;
    }

    #directory {
        flex-direction: column;
    }
    #directory > div {
        flex-basis: 100%;
    }

    .flex_table_row_3_7 > div > div,
    .flex_table_row_3_7_60 > div > div,
    .flex_table_row_1_1 > div > div,
    .flex_table_row_1_1_60 > div > div,
    .flex_table_row_2_4_4 > div > div,
    .flex_table_row_1_1_1_60 > div > div,
    .flex_table_3_columns_60 > div > div {
        font-size: 0.8em;
    }

    #html_table_example th, #html_table_example td {
        padding: 4px 8px;
    }
    #html_table_example th {
        font-size: 100%;
    }
}
