/*
Thuc Nguyen
Date Created: December 2017
*/

/*============================== GENERAL =====================================*/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya Sans', "Times New Roman", Arial, sans-serif;
    box-sizing: border-box;
}

/*================================ CONTENT ===================================*/
#content {
    margin-left: 16%;
    line-height: 148%;
    /* border: 2px dashed red; */
}

#content_header {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.header_cs545 {
    color: #FFF;
    background-color: rgba(72, 135, 132, 1.0); /* Teal */
}
.header_cs646 {
    color: #FFF;
    background-color: rgba(53, 101, 142, 1.0); /* Cobalt Blue */
}
.header_cs646_01 {
    color: #FFF;
    background-color: rgba(53, 101, 142, 1.0); /* Cobalt Blue */
}

#content > div:nth-child(n+2) {
    font-size: 110%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 48px;
    margin: 24px auto 0px auto; */
}

#content ul, #content ol {
    padding-left: 32px;
}
#content pre, #content code {
    font-size: 94%;
}
.section {
    margin-bottom: 24px;
}
.section > h2 {
    padding: 24px 0px;
}

/*-------------------- IMAGE CONTAINER FOR LARGE IMAGES --------------------*/
.preview_div {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.preview_div img {
    display: block;
    width: 100%;
}

/*------------------ IMAGE CONTAINER FOR SMARTPHONES PORTRAIT ----------------*/
.preview_div_phone {
    width: 40%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.preview_div_phone img {
    display: block;
    width: 100%;
}

/*------------ MULTIPLE IMAGE CONTAINERS FOR SMARTPHONES PORTRAIT ------------*/
.preview_div_portrait_portrait {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.preview_div_portrait_portrait > div {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.preview_div_portrait_portrait div img {
  display: block;
  width: 45%;
  max-width: 300px;
}

/*----- MULTIPLE IMAGE CONTAINERS FOR SMARTPHONES (Portrait + landscape) -----*/
.preview_div_portrait_landscape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.preview_div_portrait_landscape > div {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.preview_div_portrait_landscape > div:first-child img {
  display: block;
  width: 45%;
  max-width: 768px;
}
.preview_div_portrait_landscape > div:nth-child(2) img {
  display: block;
  width: 90%;
  max-width: 768px;
}

.preview_div_phone_both_orientations {
  width: 50%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.preview_div_phone_both_orientations img {
  display: block;
  width: 100%;
}

/*=========================== SYNTAX COLORING ================================*/
.definition {
  color: #664C90; /* Purple */
  font-weight: bold;
}
.highlight {
  color: #134A18; /* Dark Green */
  font-weight: bold;
}
.applicable_files {
  color: #00935c; /* Teal */
  font-weight: bold;
}
.applicable_files_sub {
  color: #00935c; /* Teal */
}
.code_method {
  color: #990000; /* Maroon */
  font-weight: bold;
}
.code_method_sub {
  color: #990000; /* Maroon */
}
.code_web {
  color: #e58a18; /* Orange */
  font-weight: bold;
}
.code_CS646 {
  color: #8d48a8; /* Pale Pink */
  /* font-weight: bold; */
}
.code_CS646_01 {
  color: #24567B; /* Pale Blue */
  font-weight: bold;
}

.cs646_link:link, .cs545_link:link {
  color: rgba(200, 0, 0, 1);
  text-decoration-color: rgba(50, 50, 50, 1);
  text-decoration-line: underline;
}
.cs646_link:visited, .cs545_link:visited {
  color: rgba(200, 0, 0, 1);
  text-decoration-color: rgba(50, 50, 50, 1);
  text-decoration-line: underline;
}

/*========================== SPECIFIC FORMATTING =============================*/
/* CS646.01 Image Container */
#cs646_01_assignment1_example {
  width: 50%;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}
#cs646_01_assignment1_example img {
  display: block;
  width: 100%;
  max-width: 1236px;
}
/* CS646 Image Container */
#cs646_assignment3_example {
    width: 30%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}
#cs646_assignment3_example img {
    display: block;
    width: 100%;
    max-width: 285px;
}

/* CS646 Tables */
#cs646_assignment4_table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#cs646_assignment4_table th, #cs646_assignment4_table td {
    padding: 8px 16px;
    border: 1px solid #BBB;
}
#cs646_assignment4_table th {
    background-color: #DDD;
}
#cs646_assignment4_table td:first-child {
    width: 30%;
}
#cs646_assignment4_table td:nth-child(2) {
    width: 70%;
}

/* CS545 Tables */
#cs545_proj4_table {
    border-collapse: collapse;
    border: 1px solid #BBB;
}
#cs545_proj4_table td {
    padding: 4px 12px;
}
#cs545_proj4_table tr:first-child {
    border-bottom: 1px solid #BBB;
}
#cs545_proj4_table tr:first-child td {
    font-weight: bold;
}
