/*
Thuc Nguyen
Date Created: December 2017
*/

/*============================== GENERAL =====================================*/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya Sans', "Times New Roman", Arial, sans-serif;
    box-sizing: border-box;
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
}

/*============================== CONTENT =====================================*/
#content {
    margin-left: 16%;
}
#content_header {
    color: #FFF;
    background-color: rgba(103, 103, 103, 1.0);
    /* min-height: 40%; */
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}

.list {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
    /* border: 1px solid red; */
}
.list > div h2 {
    text-align: center;
    padding: 12px;
}
.list > div {
    width: 50%;
    /* border: 1px dashed purple; */
}
.list > div ul {
    list-style-type: none;
    /* border: 1px dashed red; */
}
.list > div ul a, .list table td > a {
    color: #000;
    display: inline-block;
    font-size: 110%;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    /* padding-left: 18px; */
}
.list > div ul a:hover, .list table td > a:hover {
    color: #6A0000;
    text-decoration-color: #6A0000;
    text-decoration-line: underline;
}
.list > div ul a:visited, .list table td > a:visited {
    color: #000;
}
.list > div:first-child {
    border-right: 1px solid #BBB;
}

/*================================= PROJECTS =================================*/
.list table {
    width: 80%;
    border-collapse: collapse;
    /* border: 1px solid blue; */
    /* margin-left: 0px; */
    /* margin-right: auto; */
}
.list table tr td {
    padding-top: 4px;
    padding-bottom: 4px;
    /* border: 1px solid red; */
}

.list table tr td:first-child {
    width: 70%;
}
.list table tr td:nth-child(2) {
    /* width: 50%; */
    /* display: flex; */
    /* border: 1px dashed purple; */
}
.list table tr td > div:not(.testing) {
    background-color: rgba(220, 220, 220, 1.0);
    width: 25%;
    max-width: 20px;
    margin-left: 10px;
    /* margin-right: auto; */
    padding: 4px;
    border-radius: 20%;
    /* border: 1px dashed orange; */
}
.list table tr td > div > a {
    display: block;
    width: 100%;
    /* border: 1px dashed green; */
}
.list table td img, .testing > div > a > img {
    width: 100%;
    max-width: 100px;
}

/* .td_flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.testing {
    background-color: #FFF;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testing > div {
    background-color: rgba(220, 220, 220, 1.0);
    width: 20%;
    margin-left: 10px;
    padding: 4px;
    border-radius: 20%;
}
.testing > div > a {
    display: block;
    width: 100%;
} */
