/*
Thuc Nguyen
Date Created: December 2017
*/

/*============================== GENERAL =====================================*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    min-width: 320px;
}

/*============================== CONTENT =====================================*/
#content {
    position: relative;
    margin-left: 16%;
}
/*
    Gradient Colors
        horizon: #003973 to #e5e5be
        tranquil: #eecda3 to #ef629f
        celestial: #c33764 to #1d2671
*/
#content_header_project {
    color: #FFF;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;

    background: linear-gradient(135deg, #003973, #e5e5be, #eecda3, #ef629f, #c33764, #1d2671, #003973, #e5e5be);
    background-size: 800% 800%;
    -webkit-animation: content-gradient 30s ease infinite;
    -moz-animation: content-gradient 30s ease infinite;
    animation: content-gradient 30s ease infinite;
}
/* Only do animation of heading when on mobile */
#content_header_project h1 {
    opacity: 1;
    /* -webkit-animation: alternating-opacity 30s linear infinite;
    -moz-animation: alternating-opacity 30s linear infinite;
    animation: alternating-opacity 30s linear infinite; */
}
#content_header_languages {
    color: #FFF;
    background-color: rgba(110, 110, 110, 1.0);
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* The sun */
#sun {
    position: absolute;
    top: 100px;
    left: -100px;
    width: 180px;
    height: 180px;
    z-index: 5;

    animation: day-orbit 30s linear infinite;
    -moz-animation: day-orbit 30s linear infinite;
    -webkit-animation: day-orbit 30s linear infinite;
}
/* The moon */
#moon {
    position: absolute;
    top: 100px;
    left: -100px;
    width: 180px;
    height: 180px;
    z-index: 5;

    animation: night-orbit 30s linear infinite;
    -moz-animation: night-orbit 30s linear infinite;
    -webkit-animation: night-orbit 30s linear infinite;
}
/* sun and moon images */
/* #content > div > img {
    width: 100%;
    height: 100%;
} */

/*------------------------- TRANSITIONS AND ANIMATIONS -------------------------*/
/* Gradient */
@keyframes content-gradient {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}
@-moz-keyframes content-gradient {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}
@-webkit-keyframes content-gradient {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

/* Orbiting of the sun */
@keyframes day-orbit {
    0% { transform: rotate(0deg) translate(240px, 0px) rotate(0deg); }
    100% { transform: rotate(-360deg) translate(240px, 0px) rotate(360deg); }
}
@-moz-keyframes day-orbit {
    0% { -moz-transform: rotate(0deg) translate(240px, 0px) rotate(0deg); }
    100% { -moz-transform: rotate(-360deg) translate(240px, 0px) rotate(360deg); }
}
@-webkit-keyframes day-orbit {
    0% { -webkit-transform: rotate(0deg) translate(240px, 0px) rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg) translate(240px, 0px) rotate(360deg); }
}

/* Orbiting of the moon */
@keyframes night-orbit {
    0% { transform: rotate(0deg) translate(-240px, 0px) rotate(0deg); }
    100% { transform: rotate(-360deg) translate(-240px, 0px) rotate(360deg); }
}
@-moz-keyframes night-orbit {
    0% { -moz-transform: rotate(0deg) translate(-240px, 0px) rotate(0deg); }
    100% { -moz-transform: rotate(-360deg) translate(-240px, 0px) rotate(360deg); }
}
@-webkit-keyframes night-orbit {
    0% { -webkit-transform: rotate(0deg) translate(-240px, 0px) rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg) translate(-240px, 0px) rotate(360deg); }
}

/* Disappearance and reappearance of "Project" heading */
@keyframes alternating-opacity {
    0% { opacity: 0; }
    10% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 0; }
    60% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes alternating-opacity {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes alternating-opacity {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}


/*===================== PROJECTS AND LANGUAGES AND SYNTAX ====================*/
#projects_list, #languages_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 48px 120px 48px;
}
#projects_list {
    background-color: #FFF;
    position: relative;
    z-index: 10;
}
/* Project Titles */
#projects_list > div > h2 {
    text-align: center;
    padding: 12px;
}

/*------------------- Width for each column list initially -------------------*/
#projects_list > div, #languages_list > div {
    width: 50%;
    padding: 12px;
}
#projects_list > div:first-child, #languages_list > div:first-child {
    border-right: 1px solid #BBB;
}

/*---------------------- Lists and links for Languages -----------------------*/
#projects_list > div > ul, #languages_list > div > ul {
    list-style-type: none;
}
#languages_list > div > ul a {
    color: #000;
    display: inline-block;
    font-size: 1.0em;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    text-decoration-color: rgba(255, 255, 255, 1.0);
    text-decoration-line: underline;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
#projects_list table td > a {
    color: #000;
    font-size: 1.0em;
    text-decoration-color: rgba(255, 255, 255, 1.0);
    text-decoration-line: underline;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
#projects_list table td > a:hover, #languages_list > div > ul a:hover {
    color: rgba(231, 123, 27, 1.0);
    text-decoration-color: rgba(231, 123, 27, 1.0);
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}

/*================================= PROJECTS =================================*/
/*------------------- Margin-top for each heading initially ------------------*/
/* #python_scripts_heading {
    margin-top: 0px;
} */
#mobile_applications_heading, #bash_scripts_heading {
    margin-top: 24px;
}

/*------------------------- Projects Table and Links -------------------------*/
#projects_list table {
    width: 100%;
    border-collapse: collapse;
}
#projects_list table tr td {
    padding-top: 4px;
    padding-bottom: 4px;
}
#projects_list table tr td:first-child {
    width: 70%;
}
#projects_list table tr td > a {
    display: inline-block;
    margin-left: 8px;
    vertical-align: text-top;
}

/*================================= ICONS =================================*/
.fa-github {
    color: #000;
    width: 36px;
    font-size: 36px;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
.fa-github:hover {
    color: rgba(231, 123, 27, 1.0);
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}

.external_link_container {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-left: 8px;
    vertical-align: text-top;
}


/*==============================================================================


                              MEDIA QUERIES


==============================================================================*/
@media screen and (max-width:880px) {
    /* Change list direction to column */
    #projects_list, #languages_list {
        flex-direction: column;
        padding: 48px 24px 48px;
    }
    #projects_list > div, #languages_list > div {
        width: 100%;
    }
    /* Get rid of vertical line in the middle */
    #languages_list > div:first-child, #projects_list > div:first-child {
        padding-right: 0px;
        border-right: none;
    }
    /* Add spacing to python heading now that direction is column */
    #python_scripts_heading {
        margin-top: 24px;
    }

    /* Decrease font size */
    #content_header_project h1 {
        font-size: 1.5em;
    }
    #content_header_languages h1 {
        font-size: 1.5em;
    }
    #languages_list > div > ul a {
        font-size: 0.9em;
    }
    #projects_list table td > a, #projects_list table td {
        font-size: 0.9em;
    }

    /* Decrease size of sun and moon */
    #content > div > img {
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 640px) {

    #content_header_project h1 {
        opacity: 0;
        -webkit-animation: alternating-opacity 30s linear infinite;
        -moz-animation: alternating-opacity 30s linear infinite;
        animation: alternating-opacity 30s linear infinite;
    }
    #projects_list h2 {
        font-size: 1.1em;
    }
    #projects_list h4, #projects_list p {
        font-size: 0.9em;
    }

    .fa-github {
        width: 24px;
        font-size: 24px;
    }

    .external_link_container {
        width: 24px;
        height: 24px;
        margin-left: 4px;
    }
}
