/*
Thuc Nguyen
Date Created: December 2017
*/

/*============================== GENERAL =====================================*/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya Sans', "Times New Roman", Arial, sans-serif;
    box-sizing: border-box;
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
}

/*============================== CONTENT =====================================*/
#content {
    margin-left: 16%;
}
#content_header {
    color: #FFF;
    background-color: rgba(103, 103, 103, 1.0);
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}

/*================================= LANGUAGES AND SYNTAX =================================*/
#projects_list, #languages_list {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
    /* border: 1px solid red; */
}
#projects_list > div > h2 {
    text-align: center;
    padding: 12px;
    /* border: 1px dashed black; */
}
#mobile_applications_heading, #bash_scripts_heading {
    margin-top: 24px;
}

#projects_list > div, #languages_list > div {
    width: 50%;
    /* border: 1px dashed purple; */
}
#projects_list > div > ul, #languages_list > div > ul {
    list-style-type: none;
    /* border: 1px dashed red; */
}
#languages_list > div > ul a {
    color: #000;
    display: inline-block;
    font-size: 110%;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    /* padding-left: 18px; */
}
#projects_list table td > a {
    color: #000;
    /* font-size: 110%; */
    text-decoration: none;
}
#languages_list > div > ul a:hover, #projects_list table td > a:hover {
    color: #6A0000;
    text-decoration-color: #6A0000;
    text-decoration-line: underline;
}
#languages_list > div > ul a:visited, #projects_list table td > a:visited {
    color: #000;
}
#languages_list > div:first-child, #projects_list > div:first-child {
    border-right: 1px solid #BBB;
}

/*================================= PROJECTS =================================*/
#projects_list table {
    width: 80%;
    border-collapse: collapse;
    /* border: 1px solid blue; */
}
#projects_list table tr td {
    padding-top: 4px;
    padding-bottom: 4px;
    /* border: 1px solid red; */
}

#projects_list table tr td:first-child {
    width: 70%;
}

#projects_list table tr td > a {
    display: inline-block;
    margin-left: 8px;
    vertical-align: text-top;
    /* border: 1px dashed green; */
}
#projects_list table tr td > a i {
    /* border: 1px dashed blue; */
}

.external_link_container {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-left: 8px;
    vertical-align: text-top;
    /* border: 1px dashed brown; */
}
.external_link_container img {
    /* border: 1px dashed red; */
}

/*================================= ICONS =================================*/
.fa-github {
    color: #000;
    width: 36px;
    font-size: 36px;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
.fa-github:hover {
    color: rgba(231, 123, 27, 1.0);
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
