/*
Thuc Nguyen
Date Created: December 2017
*/

/*================================= Sidebar ==================================*/
#sidebar {
    flex: 0 0 16%;
    /* min-width: 100px; */
    /* flex-grow: 0;
    flex-shrink: 0; */
    /* width: 200px; */
    /* height: 100%; */
    background-color: rgba(33, 33, 33, 1.0);
    /* position: fixed;
    top: 0px;
    left: 0px; */
    overflow: auto;
    box-sizing: border-box;
}
#sidebar ul {
    font-size: 1.1rem;
    list-style-type: none;
}
#submenu_links ul {
    font-size: 1.0rem;
    display: none;
}
#submenu_links ul li {
    padding-left: 24px;
}
.normal_link {
    color: white;
    background-color: rgba(255, 255, 255, 0.0);
    font-size: 100%;
    text-decoration: none;
    display: block;
    padding: 10px 24px 10px 24px;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
.normal_link:hover {
    color: #FFF;
    background-color: #000;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
.highlighted_link {
    color: white;
    background-color: rgba(231, 123, 27, 1.0);
    font-size: 100%;
    text-decoration: none;
    display: block;
    padding: 10px 24px 10px 24px;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}

#submenu {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    box-sizing: border-box;
}
#submenu a {
    /* flex-shrink: 1; */
    /* border: 1px dashed blue; */
}
#submenu div {
    flex: 0 0 14%;
    align-self: center;
    padding-left: 4px;
    padding-right: 4px;
    /* border: 1px dashed red; */
}
#submenu div img {
    /* display: inline-block; */
    width: 100%;
    max-width: 100px;
    /* min-width: 20px; */
    max-width: 100px;
    height: auto;
    /* border: 1px dashed red; */
}
