/*
Thuc Nguyen
Date Created: December 2017
*/

/*================================= Sidebar ==================================*/
#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: rgba(33, 33, 33, 1.0);
    /* overflow: auto; */
}
#sidebar > div {
    width: 50px;
    padding: 8px 8px;
    margin-left: 16px;
    /* border: 1px dashed green; */
}
#sidebar > div img {
    width: 100%;
    cursor: pointer;
}
#sidebar ul {
    font-size: 1.0rem;
    list-style-type: none;
}
#submenu_links ul {
    font-size: 1.0rem;
    display: none;
}
#submenu_links ul li {
    padding-left: 24px;
}
#submenu_links ul li a {
    font-size: 1.0rem;
}
.normal_link {
    color: white;
    background-color: rgba(255, 255, 255, 0.0);
    font-size: 100%;
    text-decoration: none;
    display: block;
    padding: 10px 24px 10px 24px;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
.normal_link:hover {
    color: #FFF;
    background-color: #000;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
.highlighted_link {
    color: white;
    background-color: rgba(231, 123, 27, 1.0);
    font-size: 100%;
    text-decoration: none;
    display: block;
    padding: 10px 24px 10px 24px;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}

#submenu {
    display: flex;
    flex-direction: row;
}
#submenu a {
    flex-basis: auto;
    /* border: 1px dashed blue; */
}
#submenu div {
    align-self: center;
    width: 50px;
    padding: 8px;
}
#submenu div img {
    width: 100%;
    /* min-width: 24px;
    max-width: 100px; */
    /* height: auto; */
    cursor: pointer;
}

/*==============================================================================


                                MEDIA QUERIES


==============================================================================*/
/* @media screen and (max-width:640px) {
#sidebar {
width: 100%;
height: auto;
}
#sidebar > div {
width: 10%;
min-width: 24px;
border: 1px dashed red;
}

#submenu div {
min-width: 24px;
flex: 0 0 8%;
}
}

@media screen and (max-width:320px) {

} */
