/*
Thuc Nguyen
Date Created: December 2017
*/

/*================================= Sidebar ==================================*/
#sidebar {
    background-color: rgba(33, 33, 33, 1.0);
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 12px;
    overflow: auto;
}
#menu_icon {
    width: 36px;
    height: 36px;
    position: relative;
    top: 0px;
    left: 20px;
    padding: 8px 8px;
}
#menu_icon img {
    width: 36px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
#menu_icon img:nth-child(1) {
    opacity: 0;
    z-index: 0;
}
#menu_icon img:nth-child(2) {
    opacity: 1.0;
    z-index: 10;
}

#sidebar ul {
    list-style-type: none;
    margin-top: 12px;
}
#sidebar > ul > li > a {
    font-size: 1.0rem;
}
#submenu_links ul {
    display: none;
}
#submenu_links ul li {
    padding-left: 24px;
}
#submenu_links ul li a {
    font-size: 1.0rem;
}
.normal_link {
    color: white;
    background-color: rgba(255, 255, 255, 0.0);
    text-decoration: none;
    display: block;
    padding: 10px 24px 10px 24px;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
.normal_link:hover {
    color: #FFF;
    background-color: #000;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}
.highlighted_link {
    color: white;
    background-color: rgba(231, 123, 27, 1.0);
    text-decoration: none;
    display: block;
    padding: 10px 24px 10px 24px;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
}

#submenu {
    display: flex;
    flex-direction: row;
}
#submenu a {
    font-size: 1.0rem;
    display: block;
    flex: 1 1 auto;
}
#submenu div {
    width: 50px;
    padding: 8px;
}
#submenu div img {
    width: 100%;
    cursor: pointer;
}

body::-webkit-scrollbar {
    /* width: 1em; */
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
}

#sidebar::-webkit-scrollbar {
    /* width: 1em; */
    width: 5px;
}

#sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
}

/*==============================================================================


                                MEDIA QUERIES


==============================================================================*/
/* @media screen and (max-width:640px) {
#sidebar {
width: 100%;
height: auto;
}
#sidebar > div {
width: 10%;
min-width: 24px;
border: 1px dashed red;
}

#submenu div {
min-width: 24px;
flex: 0 0 8%;
}
}

@media screen and (max-width:320px) {

} */
